.wrapper {
  margin-bottom: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 5;
  position: relative;
}

.img {
  object-fit: contain;
  z-index: 4;
  width: 100%;
  vertical-align:top;
}

.authorLink {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 0 10px;
  pointer-events: all;
}

.info {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.likeInfo {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row-reverse;
  bottom: 0;
  left: 10px;
  gap: 0 10px;
}

.thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #FFF;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
  cursor: pointer;
  border-radius: 10%;
  border: none;
  opacity: .8;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: all;
}


@media (min-width: 768px) {
  .wrapper{
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
  }
  .wrapper:hover .info{
    visibility: visible;
  }
  .authorLink {
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .info {
    visibility: hidden;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.9);
    pointer-events: all;
  }
  
  .authorLink:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  .date {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .likeInfo {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    top: 20px;
    right: 20px;
    gap: 0 10px;
    bottom: auto;
    left: auto;
  }

  .thumbnail {
    width: 42px;
    height: 42px;
  }
  .like:hover {
    opacity: 1;
    color: rgba(0, 0, 0, 1);
  }
}