.myMasonryGrid {
  padding-top: 24px;
  list-style: none;
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -24px; /* gutter size offset */
  width: auto;
}
.myMasonryGridColumn {
  padding-left: 24px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.myMasonryGridColumn > li { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 24px;
}

@media (max-width: 800px) {
  .myMasonryGrid {
    margin-left: -15px; /* gutter size offset */
  }
  .myMasonryGridColumn {
    padding-left: 15px; /* gutter size offset */
  }
  .myMasonryGridColumn > li {
    margin-bottom: 15px; /* space between items */
  }
}